{% extends "main.twig" %}

	{% block stylesheetBase %}
		{{ parent() }}
		<link rel="stylesheet" href="css/views/home.css">
	{% endblock %}

	{% block header %}
		<h2>Mot de passe oublié</h2>
		{{ parent() }}
	{% endblock %}
			

	{% block container %}
		<div id="description">
			<form method="POST" action="{{ href }}">
				{{ form('ForgetPwd', 'email') }} 
				<div id="form-btn">
					<a class="btn" href="/">
						<i class="fa fa-remove fa-fw"></i>
						<span>Annuler</span>
					</a>
					<button id="submit" class="btn" type="submit" name="submit"><i class="fa fa-send-o fa-fw"></i> Envoyer un nouveau mot de passe</button>
				</div>
			</form>
		</div>
	{% endblock %}
