{% extends "main.twig" %}

	{% block stylesheetBase %}
		{{ parent() }}
		<link rel="stylesheet" href="css/views/home.css">
	{% endblock %}

	{% block header %}
		<h2>Créez une liste et partagez-la avec qui vous voulez</h2>
	{% endblock %}
			

	{% block container %}
		<div id="description">
			<p>My WishList est un site qui vous permet de créer une liste quelque soit le type d'évenement à souhaiter. </p>
			<h3>Comment faire ?</h3>
			<p>Une fois connecté, créez une liste d'anniversaire, de Noel, pour un marriage, une naissance ou tout autre évenement. Partagez ensuite cette liste avec vos proches de façon à pouvoir ajouter des éléments à la liste, en supprimer ou en modifier. </p>
			<p>Vous pouvez y ajouter une photo, un nom, une description, un prix constaté ainsi que le lieu où le trouver.</p>
		</div>
		<div id="group-btn">
			<ul>
				<li><a class="btn" href="/inscription">
					<i class="fa fa-edit fa-fw fa-2x"></i>
					<span>S'inscrire</span>
				</a></li>
				<li><a class="btn" href="/connexion">
					<i class="fa fa-sign-in fa-fw fa-2x"></i>
					<span>Se connecter</span>
				</a></li>
			</ul>
		</div>	
	{% endblock %}
