<!DOCTYPE html>
<html lang="fr">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <title>{% block title %}{{ pageRef|title }}{% endblock %} | My WishList</title>

{% block stylesheetBase %}
	<link rel="stylesheet" href="css/font-awesome-4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="fonts/stylesheet.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/style.js"></script>
{% endblock %}

		<link id="page_favicon" href="/favicon.ico" rel="icon" type="image/x-icon" />
	</head>
<body>
	<div id="content">
		<header>
			<h1>My WishList</h1>
			{% block header %}
				{% if message is defined %}
					<div id='message'>{{ message }}</div>
				{% endif %}
			{% endblock %}
			{% block nav %}
			{% endblock %}
			<aside>
			{% if session.user is defined %}
				<a href="{{ url.webroot }}">
					<i class="fa fa-toggle-on fa-fw"></i>
					<span>Connecté</span>
				</a>
			{% else %}
				<div style="color:red;cursor:default">
					<i class="fa fa-toggle-on fa-fw fa-rotate-180"></i>
					<span>Déconnecté</span>
				</div>
			{% endif %}
			</aside>
		</header>

		
		<section class="container">
		{% block container %}
		{% endblock %}
		</section>

		<footer>
			<nav id="links">
				<ul>
					<li><a href="http://www.azurdesignsolution.com">
						<i class="fa fa-code-fork fa-fw"></i>
						<span>Azur Design Solution</span>
					</a></li>
					<li><a href="https://fr-fr.facebook.com/AzurDesignSolution">
						<i class="fa fa-facebook fa-fw"></i>
						<span>Facebook</span>
					</a></li>
					<li><a href="http://portfolio.azurdesignsolution.com/">
						<i class="fa fa-tint fa-fw"></i>
						<span>Portfolio</span>
					</a></li>
					<li><a href="http://fr.viadeo.com/fr/profile/stephane.pecqueur2">
						<i class="fa fa-external-link fa-fw"></i>
						<span>Viadeo</span>
					</a></li>
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>