html {
	height: 100%;
}

body {
	height: calc(100% - 40px);
	padding: 20px;
}

#content {
	position:relative;
	width: calc(100% - 20px);
	max-width: 1000px;
	min-height: calc(100% - 55px);
	margin:0 auto;
	padding:10px;
	padding-bottom:35px;
	border: 2px solid #b5d9ea ;
	border-radius: 7px;
	background:linear-gradient(to bottom, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.1)),  #c3eafb;
}

#content a:hover {
	color:#49607A;
}

#links {
	width: calc(100% - 20px);
	position:absolute;
	bottom:0;
}

#links ul {
	text-align: center;
}

#links li {
	display:inline-block;
	font-size:0.7em;
}

#links li:not(:first-child):before {
	content: ' | ';
}

h1 {
	padding-left: 10px;
	font-family: 'HandWriter';
	font-size: 3em;
}

h2 {
	font-family: 'HandWriter';
	font-size: 2em;
	color:#78a9c0;
}

.container .btn {
	display: inline-block;
	padding:10px;
	border: 2px solid #b5d9ea ;
	border-radius: 7px;
	color:#78a9c0;
	background: transparent;
}

.container .btn:hover {
	background: #dff4fd;
	border-color:#78a9c0;
	color:#49607A;
}


.container-form {
	padding: 0 0 10px;
}

.container-form .input {
	height: 34px;
	width: calc(100% - 20px);
	border-radius: 5px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #DDD;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
	outline: 0;
	padding:0 8px;
}

.container-form .label-form {
	padding: 3px 6px;
	font-family: "HandWriter";
	font-size: 1.5em;
}

.container-form .error-form {
	padding-left: 10px;
	font-size: 0.75em;
	color:red;
}
