@font-face {
    font-family: 'HandWriter';
    src: url('berkley/arberkley-webfont.eot');
    src: url('berkley/arberkley-webfont.eot?#iefix') format('embedded-opentype'),
         url('berkley/arberkley-webfont.woff2') format('woff2'),
         url('berkley/arberkley-webfont.woff') format('woff'),
         url('berkley/arberkley-webfont.ttf') format('truetype'),
         url('berkley/arberkley-webfont.svg#ar_berkleyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
